/* Login Site */

#ButtonBar{
    position: relative;
    width: 50%;
    height: 25%;
    margin: auto;
}

#ButtonBar button{
    position: relative;
    height: 100%;
    width: 50%;
    font-size: 45px;
}

#Inputs{
    position: relative;
    top: 5%;
    bottom: 50%;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#Inputs input{
    margin-bottom: 3%;
    width: 100%;
    padding: 10px;
}

#Inputs button{
    font-size: 30px;
}

/* Actual Website */

#ServerBar{
    background-color: #2c2c34;
    position: absolute;
    left: 0px;
    right: 80%;
    height: 100%;
}

#SignOutButton{
    position: relative;
    left: 0px;
    right: 10%;
    height: 100%;
}

#SignOutDiv{
    position: relative;
    left: 0px;
    right: auto;
    height: 100%;
}

#Chat{
    background-color: #34343c;
    position: absolute;
    left: 20%;
    right: 0px;
    height: 100%;
}

#ChatHistory{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

#Message{
    background-color: #34343c;
    color: lightgray;
    
}

#TextBox{
    background-color: #34343c;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 10%;
}

#SendField{
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 90%;
    top: 0px;
}

#SendButton{
    background-color: #565656;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 0%;
    right: 15%;
    font-size: 25px;
}

#InputField{
    position: absolute;
    right: 12%;
    bottom: 0px;
    left: 0px;
    top: 0px;
}

#InputTextArea{
    background-color: #565656;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 1%;
    right: 1%;
    font-size: 40px;
    border-radius: 8px;
}

#Logo{
    background-color: orangered;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 90%;
}

#HelloText{
    position: relative;
    right: 0px;
    left: 30%;
}

#ButtonGroup{
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 0px;
    overflow-y: auto;
}

#ButtonGroup button{
    background-color: #34343c;
    display: block;
    position: relative;
    width: 98%;
    margin-bottom: 2px;
    height: 5%;
    text-align: left;
    color: lightgray;
    font-size: 30px;
}

#ButtonGroup button:hover {
    background-color: #565656;
  }